@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?33m7lk');
  src:  url('/fonts/icomoon.eot?33m7lk#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?33m7lk') format('truetype'),
    url('/fonts/icomoon.woff?33m7lk') format('woff'),
    url('/fonts/icomoon.svg?33m7lk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-MeArt:before {
  content: "\e903";
}
.icon-MePcArt:before {
  content: "\e904";
}
.icon-cgl-logo:before {
  content: "\e901";
}
.icon-crl-Logo:before {
  content: "\e902";
}
.icon-data-analytics-lab-logo:before {
  content: "\e915";
}
.icon-eth-logo:before {
  content: "\e916";
}
.icon-gtc-logo:before {
  content: "\e917";
}
.icon-mickeylogo:before {
  content: "\e918";
}
.icon-urbang_games_logo_inv:before {
  content: "\e900";
}
