<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nihat Isik</title>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <!-- BOOTSTRAP CSS FILE -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- GLOBAL CUSTOM CSS FILE -->
    <link id="theme-style" rel="stylesheet" href="/css/partials/variables.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- CUSTOM BlOG STYLE  -->
    <link rel="stylesheet" href="/css/blog-style.css">

    <!-- HIGHLIGHT CODE CDN -->
    <link id="code-theme-style" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/github.min.css">

</head>
<body>
    <!-- BACK IMAGE -->
    <div class="bg-img-repeat"></div>

    <!-- ======================== -->
    <!--    START HEADER AREA     -->
    <!-- ======================== -->
    <header class="header_area">
        <div class="main-menu">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand text-uppercase" href="/index.html">N</a>
                <div class='mr-auto'></div>
                <button id="theme-switch-button" class=""> <i class="far fa-lightbulb"></i> </button>
            </nav>
        </div>
    </header>


    <!-- BLOG IMAGE TOP -->
    <div class="blog-image-top">
        <img src="/blog-posts/template/0-template.jpg" alt="template image">
    </div>


    <!-- ======================== -->
    <!--    START BLOG POST       -->
    <!-- ======================== -->
    <section id="blog-post" class="blog-post-section mt-5 pt-5">
        <div class="container">

            <!-- BLOG TITLE -->
            <p class="blog-title blog-title-adjust-size"> Blog title template </p>
            <p class="blog-sub-title "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, qui. </p>

            <hr>

            <!-- TAG & TITLE -->
            <div class="row blog-tag-date align-items-center justify-content-between">
                <div class="col-6 col-sm-4 col-md-2 text-center"> 
                    <a href="/projects.html"><i class="fas fa-bars projects-button"></i> </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 text-center"> <i class="fas fa-user"></i> Nihat Isik </div> 
                <div class="col-6 col-sm-4 col-md-2 text-center"> <i class="fas fa-hourglass-half"></i> 7min </div> 
                <div class="col-6 col-sm-4 col-md-2 text-center"> <i class="fas fa-calendar-day"></i> 02.08.20 </div>
                <div class="col-6 col-sm-4 col-md-2 text-center"> <i class="fas fa-tag"></i> Other </div>
            </div>

            <hr>

            <div class="mb-5"></div>

            <!-- BLOG CHAPTER -->
            <p class="blog-chapter"> Premise </p>

            <!-- BLOG PARAGRAPH -->
            <p class="blog-para">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet dolores esse, dolorem architecto odio qui?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, beatae?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore excepturi dolor sed nesciunt obcaecati enim eum veritatis placeat explicabo quidem?
                
            </p>

            <!-- BLOG QUOTE -->
            <p class="blog-chapter"> Blog Quote </p>
            <p class="blog-quote">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. A impedit doloremque quisquam nobis ipsam ducimus ab fugiat minima ex tenetur.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. A impedit doloremque quisquam nobis ipsam ducimus ab fugiat minima ex tenetur.
            </p>
            

            <!-- BLOG DOT LIST -->
            <p class="blog-chapter"> Blog Lists </p>
            <ul class="my-4">
                <li> Do this </li>
                <li> Then do this </li>
                <li> And finally remember this </li>
            </ul>

            <!-- BLOG TODO LIST -->
            <div class="blog-todo my-4">
                <p> <span id="tbox"> <span id="x">X</span> </span> Do this </p>
                <p> <span id="tbox"> <span id="x">X</span> </span> Then do this </p>
                <p> <span id="tbox"> </span> And finally remember this </p>
            </div>

            <!-- BLOG TABLE -->
            <p class="blog-chapter"> Blog Table </p>
            <div class="blog-table mb-5">
                <table>
                    <tr>
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <th>Age</th>
                      <th>Description</th>
                    </tr>
                    <tr>
                      <td>Jill</td>
                      <td>Smith</td>
                      <td>50</td>
                      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, quam?</td>
                    </tr>
                    <tr>
                      <td>Eve</td>
                      <td>Jackson</td>
                      <td>94</td>
                      <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, facilis?</td>
                    </tr>
                    <tr>
                      <td>Eve</td>
                      <td>Jackson</td>
                      <td>32</td>
                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, tenetur!</td>
                    </tr>
                </table>
            </div>


            <!-- SINGLE IMAGES -->
            <p class="blog-chapter"> Blog Image </p>
            <div class="row blog-image justify-content-center align-items-start my-3">
                <div class="col-12 col-md-6 mx-5 my-3">
                    <img src="/img/portfolio/p7.jpg">
                    <p> This is an image description. </p>
                </div>
            </div>

            <!-- BLOG IMAGES -->
            <p class="blog-chapter"> Blog Images </p>
            <div class="row blog-image justify-content-center align-items-start my-3">
                <div class="col-9 col-md-6 col-lg-4 mx-5 my-3">
                    <img src="/img/portfolio/p1.jpg">
                    <p> This is an image description. </p>
                </div>
                <div class="col-9 col-md-6 col-lg-4 mx-5 my-3">
                    <img src="/img/portfolio/p3.jpg">
                    <p> This is another text definining the image. </p>
                </div>
            </div>

            <!-- BLOG VIDEO -->
            <p class="blog-chapter"> Final Video </p>
            <div class="row">
                <div class="col-12 justify-content-center align-items-center d-flex">
                    <video width="640" height="480" controls>
                        <source src="/blog-posts/pbs-flowmo/pbs_trailer.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
        
                </div>
            </div>
            


            <!-- BLOG CODE -->
            <p class="blog-chapter"> Blog Code </p>
            <div class="">
                <pre><code class="cs blog-code">
    // Generates a random password.  
    // 4-LowerCase + 4-Digits + 2-UpperCase  
    public string RandomPassword()  
    {  
        var passwordBuilder = new StringBuilder();  
        
        // 4-Letters lower case   
        passwordBuilder.Append(RandomString(4, true));  
        
        // 4-Digits between 1000 and 9999  
        passwordBuilder.Append(RandomNumber(1000, 9999));  
        
        // 2-Letters upper case  
        passwordBuilder.Append(RandomString(2));  
        return passwordBuilder.ToString();  
    } 
                </code></pre>
            </div>

            <div class="row see-all-projects justify-content-center pt-5">
                <a href="/projects.html">
                    <div class="col-3 text-center">
                        go to projects
                    </div>
                </a>
            </div>

        </div>
    </section>



    <!-- ======================== -->
    <!--          JS LINKS        -->
    <!-- ======================== -->
    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/ee0a746e75.js" crossorigin="anonymous"></script>

    <!-- JQUERY FILE -->
    <script src="/js/jquery.js"></script>

    <!-- POPPER CDN -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    
    <!-- BOOTSTRAP JS FILE -->
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- THEME SELECTION MODE ADDENDUM FOR CODE STYLING-->
    <script src="/js/themeSelection.js"></script>

    <!-- HIGHLIGHT CODE SCRIPT -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>